<h1>Exit Task</h1>
<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>
  <div>
    <%= form.label :due_date %>
    <%= form.text_field :due_date %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div>
    <%= form.label :progress %>
    <%= form.text_field :progress %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>